{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block monTitre %}Concessionnaire Automobile{% endblock %}
{% block body %}
<h2 class="my-5">Bienvenue sur le site de la concession de Christopher</h2>
{% endblock %}
